<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>巡检记录统计表</title>
        <link rel="stylesheet" href="jquery.mobile-1.4.5.min.css">
		<script type="text/javascript" src="jquery-1.12.4.min.js"></script>
<script src="jquery.mobile-1.4.5.min.js"></script>
        <style type="text/css">
${demo.css}
#head h1{color:#ffffff}
#head{height:50px;background: #57aea8;position:fixed;z-index:1;width:100%;border: none}  .row1{border-bottom: 1px solid grey}
.row1 span{margin-left:10px;}
.row1 div{margin: 5px;}

		</style>
		<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: '<h1>巡检记录统计图表展示</h1>'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                ['已完成的巡检', 45.0],
                ['未完成的巡检', 26.8],
                {
                    name: '巡检中',
                    y: 12.8,
                    sliced: true,
                    selected: true
                },
                ['正在巡检', 15.4],
               
            ]
        }]
    });
});
		</script>
	</head>
	<body>

<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/highcharts-3d.js"></script>
<div data-role="page" id="page1">
    <div data-role="header" id="head">
        <h1 style="font-size:20px;font-weight: normal;text-shadow: none">巡检记录统计图</h1>
    </div>
    </div>
<div id="container" style="height: 300px;width:95%;margin-top:80px;margin-left: 4%"></div>
<div data-role="main" class="ui-content">







    <div data-role="collapsible" data-collapsed="false" style="border:1px solid #57aea8;width:105%;margin-left:-10px;text-align: left">




        <div class="row1">

            <div style="position: relative"><span style="width:60px;height:20px;background-color: #95ceff;display: inline-block"></span><span style="font-size: 16px;color:#95ceff">已完成巡检60</span>

            </div>
        </div>
        <div class="row1">

            <div style="position: relative"><span  style="width:60px;height:20px;background-color: #434348;display: inline-block" ></span><span style="font-size: 16px;color:#434348;">未完成巡检30</span>

            </div>
        </div>
        <div class="row1">

            <div style="position: relative"><span style="width:60px;height:20px;background-color: #90ed7d;display: inline-block"></span><span style="font-size: 16px;color:#90ed7d;">正在巡检中10</span>

            </div>
        </div>
        <div class="row1">

            <div style="position: relative"><span style="width:60px;height:20px;background-color: #f7a35c;display: inline-block" ></span><span style="font-size: 16px;color:#f7a35c">巡检进行中13</span>

            </div>
        </div>


    </div>
</div>
<a href="xunjianjilu.html" target="_blank" style="background-color:#57aea8;color:#ffffff;text-shadow: none;line-height: 100px;font-size: 30px " class="ui-btn ui-btn-inline ui-corner-all ui-shadow ">查看巡检记录</a>



    </body>
</html>
