
		<include file="Public/head" />

							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
		<div id="container" style="min-width:700px;height:400px"></div>
<!--<canvas id="myChart" width="300" height="300"></canvas>									<div id="accordion-sysinfo" class="accordion-style1 panel-group col-sm-3">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-sysinfo" href="#sysinfo">
																<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
																&nbsp;站点信息
															</a>
														</h4>
													</div>

													<div class="panel-collapse collapse in" id="sysinfo">
														<div class="panel-body">
															<p>PHP版本：<?php echo PHP_VERSION ?>，MySQL版本：{$mysql}</p>
															<p>服务器：<?php echo php_uname('s');?></p>
															<p>PHP运行方式：<?php echo php_sapi_name();?></p>
															<p>服务器IP：<?php echo GetHostByName($_SERVER['SERVER_NAME']);?></p>
															<p>程序版本：<?php echo THINK_VERSION ?>&nbsp;&nbsp;<a href="javascript:;" id="update">检查更新</a>&nbsp;&nbsp;<span id="upmsg"></span></p>

														</div>
													</div>
												</div>
									</div>

-->
								</div>		
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th class="center">#</th>
											<th>用户</th>
											<th>时间</th>
											<th>IP</th>
											<th class="col-xs-7">日志内容</th>
										</tr>
									</thead>
									<tbody>
									<volist name="list" id="val">
										<tr>
											<td>{$val['id']}</td>
											<td>{$val['name']}</td>
											<td>{$val['t']|date="Y-m-d H:i:s",###}</td>
											<td>{$val['ip']}</td>
											<td>{$val['log']}</td>
										</tr>
									</volist>
									</tbody>
								</table>
								{$page}
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
		 <script type="text/javascript" src="__PUBLIC__/qwadmin/js/jquery.js"></script>
		 <script type="text/javascript" src="__PUBLIC__/qwadmin/js/hchart/highcharts.js"></script> 
		 <script type="text/javascript" src="__PUBLIC__/qwadmin/js/hchart/highcharts-3d.js"></script>
		 <script> //左侧Javascript代码
		 ﻿$(function () {
    $('#container').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: '巡检设备3D饼状图'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: '所占比例',
            data: [
                {
                    name: '未巡检记录{$shes}',
					color:'#cd3a52',
                    y: {$baifenshes}
                },
				{
                    name: '完成巡检记录-正常{$countz}',
					color:'#CCCCCC',
                    y: {$baifenz}
                },

                {
                    name: '完成巡检记录-不正常{$counted}',
                    y: {$baifened},
                    sliced: true,
					color:'#59c16c',
                    selected: true
                },
                {
                    name: '巡检中记录{$counting}',
					color:'#ebf278',
                    y:  {$baifening}
                }
            ]
        }]
    });
});				
		  </script>