<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>巡检记录</title>
	<script src="wap/jquery-1.12.4.min.js"></script>
	<script src="wap/jquery.mobile-1.4.5.min.js"></script>

    <link rel="stylesheet" href="wap/jquery.mobile-1.4.5.min.css">
    <style>

        #head h1{color:#f0f0f0}
        .row1{border-bottom: 1px solid #dddddd }
        .row1 span{margin-left:10px;}
        .row1 div{margin: 12px;}
        .cc{color:#999999;}

        #head{height:50px;background: #57aea8;position:fixed;z-index:1;width:100%;border: none}
        .ui-content {margin-top: 45px}



        .row11 span{margin: 10px}



        .bb{margin-bottom: 25px}

        #head2 h1{color:#f0f0f0}
    </style>
</head>
<body>
<div data-role="page" id="page1">
    <div data-role="header" id="head">
         <h1 style="font-size:20px;text-shadow:none;color:#ffffff">巡检记录</h1>
    </div>

    <div data-role="main" class="ui-content">







        <div data-role="collapsible" data-collapsed="false" style="border:1px solid #57aea8;width:105%;margin-left:-10px;text-align: left">
            <h1>已完成的巡检</h1>


           <php>
		   					function showTree($data,$pre=null) {
									$i=0;
									foreach ($data as $key => $val) {
$i++;
                echo '<div class="row1">'; 
                 echo '    <div class="cc" ><span style="margin-left: -14px;font-size: 15px">'.$i.'</span>
				           <span style="font-size: 15px">'.date('YmdHis',$val['time']).'</span>';
                 echo '    <span style="font-size: 15px;margin-left:15px">'.date('Y-m-d H:i:s',$val['time']). '</span>';
               echo '   </div>';
              echo '  <div style="position: relative;height:50px"><span style="font-size: 18px;color:#666666;">'.$val['shebeiname'].'</span>';
                echo '    <span style="color:#33b777;position:absolute;right:55px;top:35px">';
									if($val['zt'] == 0){
											   echo '巡检中';
									}
									if($val['zt'] == 1){
											if($val['ztid']==0){
											   echo '正常';
											};
											if($val['ztid']==1){
											   echo '<span style="color:#e14141">不正常</span>';
											   }
									}		  
                 echo '    </span><span style="position: absolute;top:22px;right:-20px"><a href="index.php?m=Qwadmin&c=Wap&a=viewshebei&id='.$val['id'].'" target="_blank" style="background-color:#57aea8;color: #ffffff ;height: 10px;line-height: 10px;text-shadow:none;font-weight:normal"  class="ui-btn ui-btn-inline ui-mini ui-corner-all bb">查看</a></span>';
              echo ' </div>';
          echo '  </div>';
		  									}
								}
								showTree($categorys);

            </php>
          


         </div>
    </div>


    

</div>

</body>
</html>