<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{$current['title']}-{$Think.CONFIG.title}</title>

		<meta name="keywords" content="{$Think.CONFIG.keywords}" />
		<meta name="description" content="{$Think.CONFIG.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<include file="Public/head" />
   </head>

	<body class="no-skin">
		<include file="Public/header" />
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<include file="Public/sidebar" />
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<include file="Public/breadcrumbs" />

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<include file="Public/set" />

						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
									<form class="form-horizontal" role="form" id="form" method="post" action="{:U('update')}">
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-0">所属分类 </label>
										<div class="col-sm-9">
										<select id="pid" name="pid" class="col-xs-10 col-sm-5">
											{$category}
										</select>
										</div>
									</div>

									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-0"> 设备所属项目 </label>
										<div class="col-sm-9">
										<select id="prid" name="prid" class="col-xs-10 col-sm-5">
											{$categorys}
										</select>
										
										<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">选择所属项目。</span>
											</span>
										</div>
									</div>

									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 设备名称 </label>
										<div class="col-sm-9">
											<input type="text" name="name" id="name" placeholder="设备名称" class="col-xs-10 col-sm-5" value="">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">设备名称，不能为空。</span>
											</span>
										</div>
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 设备编号</label>
										<div class="col-sm-9">
											<input type="text" name="bianhao" id="bianhao" placeholder="设备编号" class="col-xs-10 col-sm-5" value="">

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1">二维码编号</label>
										<div class="col-sm-9">
											<input type="text" name="bz" id="bz" placeholder="二维码编号" class="col-xs-10 col-sm-5" value="">

										</div>
									</div>
									<div class="space-4"></div>


									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 排序 </label>
										<div class="col-sm-9">
											<input type="number" name="o" id="o" placeholder="排序" class="col-xs-10 col-sm-5" value="">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">越小越靠前。</span>
											</span>
										</div>
									</div>

									<div class="col-md-offset-2 col-md-9">
										<button class="btn btn-info submit" type="button">
											<i class="icon-ok bigger-110"></i>
											提交
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="icon-undo bigger-110"></i>
											重置
										</button>
									</div>
								</form>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			<include file="Public/footer" />
			
		</div><!-- /.main-container -->

		<include file="Public/footerjs" />
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
		
		$(function(){
			
			getVal(); 
			
			$("#pid").change(function(){
			getVal();
			
			});


			function getVal(){
			
			$.getJSON("index.php?m=Qwadmin&c=Attribute&a=select",{pid:$("#pid").val()},function(json){
			
			var prid = $("#prid");
			$("option",prid).remove(); //清空原有的选项，也可使用 ds_id.empty();
			$.each(json,function(index,array){
			//alert("111");
			var option = "<option value='"+array['id']+"'>"+array['name']+"</option>";
			prid.append(option);
			});
			});
			}
			
			
			$(".btn.btn-info.submit").click(function(){
				var pid = $("#pid").val();
				var name = $("#name").val();
				var o= $("#o").val();
				if(name==''){
					bootbox.dialog({
						message: "抱歉，分类名称不能为空。", 
						buttons: {
							"success" : {
								"label" : "确定",
								"className" : "btn-danger"
							}
						}
					});
					return;
				}
				$("#form").submit();
			})
		})
		</script>
	</body>
	</body>
</html>
