<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{$current['title']}-{$Think.CONFIG.title}</title>
		<meta name="keywords" content="{$Think.CONFIG.keywords}" />
		<meta name="description" content="{$Think.CONFIG.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	
		<include file="Public/head" />
   </head>
    <style type="text/css">
        #imgFrame{ position:absolute; top:10%; left:10%; z-index:1000; display:none;}
	
    </style>
	    <style>

        #head h1{color:#f0f0f0}

        .row1 span{margin-left:10px;}
        .row1 div{margin: 5px;}
        .aa{font-weight: bold;font-size:18px}

        .ui-content {margin-top: 50px}
        #head1{height:50px;background: url("wap/head1.png")repeat;border:none;position:fixed;width:100%;z-index:1}
        #head1 h1{color:#f0f0f0}
       
        .row11{background-color: #e5e5e5;}
        .row11 span{margin: 10px}

        #lianjie{background-color:#3f8468;color: #f0f0f0;border:none;}

    </style>

	<body class="no-skin">
		<include file="Public/header" />
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<include file="Public/sidebar" />
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<include file="Public/breadcrumbs" />

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<include file="Public/set" />

						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
																	<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th class="col-xs-2">巡检设备分类名称</th>
										<th class="col-xs-2">巡检操作时间</th>
										<th class="col-xs-1">巡检操作人</th>
										<th class="col-xs-2">巡检属性</th>
										<th class="col-xs-1">是否正常</th>
										<th class="col-xs-1">图片</th>
										<th class="col-xs-1">音频</th>
									</tr>
								</thead>
								<tbody>
								<php>
								function showTree($data,$pre=null) {
									
									foreach ($data as $key => $val) {
										echo '<tr>';
										echo '<td>';
											echo $val['shebeiname'];
										echo '</td>';
										echo '<td>';
											echo date('Y-m-d H:i:s',$val['time']);
										echo '</td>';
										echo '<td>';
											echo $val['user'];
										echo '</td>';
										echo '<td>';
										echo str_replace(" ","<br>",$val['shuxingname']);
										echo '</td>';
										echo '<td>';
											if ($val['ztid']==1) {
												echo '不正常';
											}elseif ($val['ztid']==0) {
												echo '正常';
											}else {
												echo '正常';
											}
										echo '</td>';
										echo '<td>';
											if ($val['zhengchang']==1) {
											if($val['img0']){
echo '<img src="'.$val['img0'].'"  original="'.$val['img0'].'" onClick="showOriginal(this)"  width="30" height="30">';
											
											}
											if($val['img1']){
echo '<img src="'.$val['img1'].'"  original="'.$val['img1'].'" onClick="showOriginal(this)"  width="30" height="30">';
											
											}
											if($val['img2']){
echo '<img src="'.$val['img2'].'"  original="'.$val['img2'].'" onClick="showOriginal(this)"  width="30" height="30">';
											
											}
											}elseif ($val['zhengchang']==0) {
												echo '';
											}

										echo '</td>';
										echo '<td>';
											if($val['sound0']){
echo '<img class="imge" src="wap/3.png" style="width:50px;height:50px">
<div class="aa" style="display: none;position: relative;width:100%;">
   <div class="guanbi" style="position: absolute;right: 0;top:-20px;font-size:15px;color:#ff0000">关闭</div>
    <audio controls="controls">
        <source src="'.$val['sound0'].'" type="audio/mpeg">
    </audio>
</div>

';
											}
											if($val['sound1']){
echo '<img class="imge1" src="wap/3.png" style="width:50px;height:50px">
<div class="aa1" style="display: none;position: relative;width:100%;">
   <div class="guanbi1" style="position: absolute;right: 0;top:-20px;font-size:15px;color:#ff0000">关闭</div>
    <audio controls="controls">
        <source src="'.$val['sound1'].'" type="audio/mpeg">
    </audio>
</div>

';
											}
											if($val['sound2']){
echo '<img class="imge2" src="wap/3.png" style="width:50px;height:50px">
<div class="aa2" style="display: none;position: relative;width:100%;">
   <div class="guanbi2" style="position: absolute;right: 0;top:-20px;font-size:15px;color:#ff0000">关闭</div>
    <audio controls="controls">
        <source src="'.$val['sound2'].'" type="audio/mpeg">
    </audio>
</div>

';
											}
										echo '</td>';
										echo '</tr>';
										

									}
								}
								showTree($category);
								</php>								
								
								</tbody>
								</table>

							
								
								具体设备巡检结果
									
						 <table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th class="col-xs-2">巡检设备</th>
										<th class="col-xs-5">巡检属性</th>
										<th class="col-xs-1">是否正常</th>
										<th class="col-xs-2">图片</th>
										<th class="col-xs-2">音频</th>
									</tr>
								</thead>
								<tbody>
								<php>
								function showTrees($data,$pre=null) {
									
									foreach ($data as $key => $val) {
										echo '<tr>';
										echo '<td>';
											echo $val['shebeiname'];
										echo '</td>';
										echo '<td>';
										
										   
										echo str_replace(" ","<br>",$val['shuxingname']);
										echo '</td>';
										echo '<td>';
										if ($val['ztid']==0) {
												echo '正常';
											}
										if ($val['ztid']==1) {
												echo '不正常';
											}
										if ($val['ztid']==2) {
												echo '未巡检';
											}
										echo '</td>';
										echo '<td>';
											if ($val['zhengchang']==1) {
											if($val['img0']){
echo '<img src="'.$val['img0'].'"  original="'.$val['img0'].'" onClick="showOriginal(this)"  width="30" height="30">';
											
											}
											if($val['img1']){
echo '<img src="'.$val['img1'].'"  original="'.$val['img1'].'" onClick="showOriginal(this)"  width="30" height="30">';
											
											}
											if($val['img2']){
echo '<img src="'.$val['img2'].'"  original="'.$val['img2'].'" onClick="showOriginal(this)"  width="30" height="30">';
											
											}
											}elseif ($val['zhengchang']==0) {
												echo '';
											}

										echo '</td>';
										echo '<td>';
											if($val['sound0']){
echo '<img class="imge" src="wap/3.png" style="width:50px;height:50px">
<div class="aa" style="display: none;position: relative;width:100%;">
   <div class="guanbi" style="position: absolute;right: 0;top:-20px;font-size:15px;color:#ff0000">关闭</div>
    <audio controls="controls">
        <source src="'.$val['sound0'].'" type="audio/mpeg">
    </audio>
</div>

';
											}
											if($val['sound1']){
echo '<img class="imge1" src="wap/3.png" style="width:50px;height:50px">
<div class="aa1" style="display: none;position: relative;width:100%;">
   <div class="guanbi1" style="position: absolute;right: 0;top:-20px;font-size:15px;color:#ff0000">关闭</div>
    <audio controls="controls">
        <source src="'.$val['sound1'].'" type="audio/mpeg">
    </audio>
</div>

';
											}
											if($val['sound2']){
echo '<img class="imge2" src="wap/3.png" style="width:50px;height:50px">
<div class="aa2" style="display: none;position: relative;width:100%;">
   <div class="guanbi2" style="position: absolute;right: 0;top:-20px;font-size:15px;color:#ff0000">关闭</div>
    <audio controls="controls">
        <source src="'.$val['sound0'].'" type="audio/mpeg">
    </audio>
</div>

';
											}
										echo '</td>';
										echo '</tr>';
										

									}
								}
								showTrees($categorys);
								</php>								
								
								</tbody>
								</table>
									
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			    <div id="imgFrame">
        <div id="bb"><a href="javascript:close();"style="position:absolute;left:60%;color:white;font-size:30px;">关闭</a></div>
        <div id="imgbox"></div>
    </div>
			<include file="Public/footer" />
			
		</div><!-- /.main-container -->

		<include file="Public/footerjs" />
		<!-- inline scripts related to this page -->
		    <script type="text/javascript">
				function showOriginal(img) {
					document.getElementById("imgFrame").style.display = "block";
					document.getElementById("imgbox").innerHTML = "<img src='" + img.getAttribute("original") + "' />";
				}
				function close() {
					document.getElementById("imgFrame").style.display = "none";
				}
			</script>
<script src="wap/jquery-1.12.4.min.js"></script>
<script src="wap/jquery.mobile-1.4.5.min.js"></script>
<script>
  $(function(){
      $(".imge").on("click",function(){
          $(".aa").css("display","block")
      });
	    $(".imge1").on("click",function(){
          $(".aa1").css("display","block")
      });
	    $(".imge2").on("click",function(){
          $(".aa2").css("display","block")
      });
      $(".guanbi").on("click",function(){
          $(".aa").css("display","none")
      });
	      $(".guanbi1").on("click",function(){
          $(".aa1").css("display","none")
      });
	      $(".guanbi2").on("click",function(){
          $(".aa2").css("display","none")
      });
  })
  </script>
</html>
